{% extends 'harmony/base.html' %}
{% block content %}

  <div class="App__main-view">
    <div class="App__top-gradient"></div>
    <div class="App__header-placeholder"></div>
    <section class="App__section App__quick-links">
      <h1>Favorite Artists</h1>
     
    </section>
    <section class="App__section App__your-shows">
      <div class="App__section-header">
        <h3>Your shows</h3>
        
      </div>
      <div class="App__section-grid-container">
        
        <div class="App__section-grid-item">
          <div class="featured-image"></div>
          <h3>Short Wave</h3>
          <span>NPR</span>
        </div>
       
      </div>
    </section>
    
  </div>

{% endblock %}


