{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Harmony</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% csrf_token %}
  </head>
  <body>
    <div class="App">
      {% include 'harmony/nav.html' %}
      <div class="App__now-playing-bar">
        <div class="function">
          <div class="music">
            <img
              src="https://images.genius.com/31c7d09c4aa1b324bb911d0db72453a3.1000x1000x1.jpg"
              alt=""
            />
            <div class="details">
              <div class="name">Night Change</div>
              <div class="artist">One Direction</div>
            </div>
            <div class="love">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2589/2589175.png"
                alt="love"
              />
            </div>
          </div>
          <div class="playback">
            <div class="upper">
              <img
                src="https://cdn-icons-png.flaticon.com/512/724/724979.png"
                alt="shuffle"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/3318/3318703.png"
                alt="back"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/2088/2088562.png"
                alt="pause"
                class="pause"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/4211/4211386.png"
                alt="forward"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/4146/4146819.png"
                alt="loop"
              />
            </div>
            <div class="lower">
              <div class="text">0:00</div>
              <div class="line"></div>
              <div class="text">3:46</div>
            </div>
          </div>
          <div class="control">
            <div class="images">
              <img
                src="https://cdn-icons-png.flaticon.com/512/26/26615.png"
                alt="mic"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/98/98068.png"
                alt="queue"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/2777/2777142.png"
                alt="device"
              />
              <img
                src="https://cdn-icons-png.flaticon.com/512/25/25695.png"
                alt="volume"
              />
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
     
    </div>
    <script src="{% static 'javascript/home.js' %}"></script>
  </body>
</html>