{% extends 'harmony/base.html' %}
{% block content %}

  <div class="App__main-view">
    <div class="App__top-gradient"></div>
    <div class="App__header-placeholder"></div>
    <section class="App__section App__quick-links">
        <div class="search-container">
            <!-- <div class="search-icon">&#128269;</div> -->
            <input type="text" class="search-input" id="searchInput" placeholder="Search for artist or track....">
          </div>
    </section>
    <section class="App__section App__your-shows" style="display: none;">
      <div class="App__section-header">
        <h3>Artists</h3>
        <a href="#"><span>SEE ALL</span></a>
      </div>
     
      
      <div class="App__section-grid-container artist_box">
        <!-- {% for artist in result.artists.items %}
        <div class="App__section-grid-item ">
          <div class="featured-image" style="background-image: url('{{ artist.images.0.url }}')"></div>
          <h3>{{ artist.name }}</h3>
          <span>NPR</span>
        </div>
        {% endfor %} -->
      </div>
    </section>
    <section class="App__section App__your-shows">
      <div class="App__section-header">
        <h3>Tracks</h3>
       <a href="#"> <span>SEE ALL</span></a>
      </div>
      <div class="App__section-grid-container">
       
        <!-- {% for track in result.tracks.items %}
        <div class="App__section-grid-item">
          <div class="featured-image" style="background-image: url('{{ track.album.images.0.url }}')"></div>
          <h3>{{ track.name }}</h3>
         
          {% for artist in track.artists %}
            {% if forloop.first %}
                <span>{{ artist.name }}</span>
            {% elif forloop.last %}
                <span>ft. {{ artist.name }}</span>
            {% else %}
                <span>{{ artist.name }}, </span>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %} -->
       
      </div>
    </section>
  </div>

{% endblock %}


